body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
    margin-right: 30px;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-image: url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right top left;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    height: 625px;
    justify-content: space-between;
}

.banner .profile-pic {
    width: 581px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}

.banner-title {
    font-size: 75px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;

}

.banner-description {
    margin-top: 0px;
    margin-bottom: 30px;

}

.banner-content {
    max-width: 500px;
}

.about {
    border-radius: 10px;
    /* background: #FFF8F3; */
    background: #f96a041d;
    padding: 130px;
    margin: 130px 0px;
}
/* about us */
.about-info-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info-title{
    color: #757575;
    font-weight: 400;
}
info-description{
    font-weight: 800;
}
.about-info{
    text-align: center;
}

/* shared */
.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
main>section{
    margin-top: 130px;
}

.section-description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

main {
    max-width: 1140px;
    margin: 0px auto;
}

/* what i do part */
#what-i-do-des{
    padding: 30px 150px 50px 150px;
}
.skill-container{
    display: flex;
    gap: 24px;
    justify-content: space-around;
    align-items: center;
}
.skill-box{
    padding: 30px;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.skill-title{
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 20px;
}
.skill-description{
    /* text-align: justify; */
    color: var(--dark-03, #757575);
    font-size: 16px;
}

/* resume section */
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-container{
    display: flex;
    gap: 50px;
}
.resue-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}
.resume-item-institute{
    color: #757575;
    font-size: 20px;
    font-weight: 600;


}
.resume-item-description{
    color: #757575;
    font-size: 16px;
    font-weight: 400;


}
.download-cv{
    text-align: center;
}
/* footer related */
footer{
    display: flex;
    gap: 100px;
    background: #e9ded7;
    padding:  130px 230px;
    margin-top: 100px;
}
.footer-column{
    width: 50%;
}
.contact textarea,input,button{
    display: block;
    margin-bottom: 24px;
}
.contact input,textarea{
    padding: 18px 35px;
    color: black;
    font-size: 18px;
    border-radius: 5px;
    border: 0;
    width: 100%;

}
.social-links a{
    margin-right: 15px;
}